@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
    /* font-family: 'Redressed', cursive; */
    background: linear-gradient(
        0deg, 
        rgba(255, 255, 255, .9),
        rgba(255, 255, 255, .9)
    ), url(pastel-fondocontacto.jpg);
    background-position: center;
    background-size: cover;
}

:root {
    --color-principal: #FF787B;
    --color-secundario: #FCBBB1;
    --color-terciario-celeste: #A5D0C6;
    --color-terciario-piel: #FFC2AA;
    --color-terciario-crema: #EFE8E2;
}

header {
    height: 100%;
    background-color: var(--color-principal);
    position: relative;
}

/*SECCION HEADING Y HEADER*/

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5em 3em;
}

.heading a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3em;
    font-weight: bold;
}

.heading i {
    color: aliceblue;
    font-size: 1.3em;
}

.main-image {
    width: 100%;
    height: 70vh;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pasteles-main.jpg);
    background-position: center;
    background-size: cover;
}

.main-image h1 {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2em + 1vw);
    text-transform: uppercase;
    color: var(--color-terciario-crema);
    text-shadow: 2px 2px 4px #000;
    padding: 0 2em;
    text-align: center;
}

.main-image .button-top{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 2em;
}

.button-top button {
    width: 400px;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    );
    height: 80px;
    border: 2px solid #F70000;
    border-radius: 25px 0px 25px 0;
    font-size: 1.5em;
    text-transform: uppercase;
    color: aliceblue;
    transition-property: border;
    transition-duration: .5s;
    cursor: pointer;
}

.button-top button:hover,
.button-top button:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
    border: 2px solid #ef8f6e;
}

@-webkit-keyframes pulse {
    0% {
    box-shadow: 0 0 0 0 var(--hover);
    }
}

    @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 var(--hover);
    }
  }

  .button-top-first {
    --color: #ef6eae;
    --hover: #ef8f6e;
  }

nav {
    position: sticky;
    top: -2px;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--color-principal);
    color: var(--color-terciario-crema);
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.nav-bar li {
    list-style: none;
    transition-duration: .3s;
}

.nav-bar li:hover > a{
    color: var(--color-terciario-celeste);
    text-shadow: 1px 1px 8px var(--color-terciario-crema);
}

.nav-bar li:hover {
    transform: scale(1.3);
}

.nav-bar a {
    text-decoration: none;
    color: aliceblue;
    font-size: calc(.5em + 1vw);
    font-weight: bold;
}

.barra-busqueda {
    padding-right: 10em;
}

.barra-busqueda button {
    font-size: calc(.5em + 1vw);
    color: #f7f7f7;
    border: none;
    border-bottom: 2px solid #f2f2f2;
    background-color: inherit;
}

.barra-busqueda i {
    color: #f7f7f7;
    padding-left: .5em;
}

/*SECCION PRODUCTOS VARIADOS*/

.variedades {
    width: 100%;
    height: 100%;
    padding: 3em 2em;
}

.variedades h2 {
    color: var(--color-terciario-celeste);
    text-shadow: 1px 1px 2px #000;
    font-size: calc(2em + 1vw);
    padding: 0 1em 1em;
}

.variedades_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1em;
    justify-content: center;
}

.variaciones-productos {
    width: 200px;
    height: 200px;
    border-bottom: 5px solid var(--color-principal);
    border-top: 5px solid var(--color-principal);
    border-radius: 5px 10px 5px 5px;
    cursor: pointer;
}

.variaciones-productos h3 {
    color: #f2f2f2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
    padding: 0 1em;
    transition: all .3s;
}

.variaciones-productos:hover > h3 {
    opacity: 0;
    transform: translateY(-10px);
}


.pro1 {
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pastel-1.webp);
    background-position: center;
    background-size: cover;
    transition: all 200ms;
}

@keyframes hero {
    0%{
        background-size: 300px;
        border-bottom: 6px solid #F08080;
        border-top: 6px solid #F08080;
    }

    20%{
        border-bottom: 6px solid var(--color-terciario-celeste);
        border-top: 6px solid var(--color-terciario-celeste);
    }

    100%{
        background-size: 350px;
        border-bottom: 6px solid var(--color-terciario-celeste);
        border-top: 6px solid var(--color-terciario-celeste);
    }
}

.pro1:hover {
    background: linear-gradient(
        0deg,
        rgba(0,0,0, 0),
        rgba(0,0,0, 0)
    ),
    url(pastel-1.webp);
    background-position: center;
    background-repeat: no-repeat;
    animation: hero 1s ;
    background-size: 350px; 
}

.pro2 {
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pastel-2.jpg);
    background-position: center;
    background-size: cover;
    transition: all 200ms;
}

.pro2:hover {
    background: linear-gradient(
        0deg,
        rgba(0,0,0, 0),
        rgba(0,0,0, 0)
    ),
    url(pastel-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    animation: hero 1s ;
    background-size: 350px; 
}

.pro3 {
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pastel-3.jpg);
    background-position: center;
    background-size: cover;
    transition: all 200ms;
}

.pro3:hover {
    background: linear-gradient(
        0deg,
        rgba(0,0,0, 0),
        rgba(0,0,0, 0)
    ),
    url(pastel-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    animation: hero 1s ;
    background-size: 350px; 
}
.pro4 {
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pastel-4.jpg);
    background-position: center;
    background-size: cover;
    transition: all 200ms;
}

.pro4:hover {
    background: linear-gradient(
        0deg,
        rgba(0,0,0, 0),
        rgba(0,0,0, 0)
    ),
    url(pastel-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    animation: hero 1s ;
    background-size: 350px; 
}

.pro5 {
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pastel-5.webp);
    background-position: center;
    background-size: cover;
    transition: all 200ms;
}

.pro5:hover {
    background: linear-gradient(
        0deg,
        rgba(0,0,0, 0),
        rgba(0,0,0, 0)
    ),
    url(pastel-5.webp);
    background-position: center;
    background-repeat: no-repeat;
    animation: hero 1s ;
    background-size: 350px; 
}

.pro6 {
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pastel-6.jpg);
    background-position: center;
    background-size: cover;
    transition: all 200ms;
}

.pro6:hover {
    background: linear-gradient(
        0deg,
        rgba(0,0,0, 0),
        rgba(0,0,0, 0)
    ),
    url(pastel-6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    animation: hero 1s ;
    background-size: 350px; 
}

.pro7 {
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pastel-7.png);
    background-position: center;
    background-size: cover;
    transition: all 200ms;
}

.pro7:hover {
    background: linear-gradient(
        0deg,
        rgba(0,0,0, 0),
        rgba(0,0,0, 0)
    ),
    url(pastel-7.png);
    background-position: center;
    background-repeat: no-repeat;
    animation: hero 1s ;
    background-size: 350px; 
}

.pro8 {
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pastel-8.jpg);
    background-position: center;
    background-size: cover;
    transition: all 200ms;
}

.pro8:hover {
    background: linear-gradient(
        0deg,
        rgba(0,0,0, 0),
        rgba(0,0,0, 0)
    ),
    url(pastel-8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    animation: hero 1s ;
    background-size: 350px; 
}

/*SECCION PRODUCTOS POPULARES*/

.productos {
    width: 100%;
    height: 100%;
    padding: 3em 2em;
}

.productos h2 {
    color: var(--color-terciario-celeste);
    text-shadow: 1px 1px 2px #000;
    font-size: calc(2em + 1vw);
    padding: 0 1em 1em;
}

.popular-productos_container {
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 1em;
    row-gap: 3em;
    flex-wrap: wrap;
    justify-content: center;
}

.populares-productos {
    width: 400px;
    height: 300px;
    background-color: #F5F4EC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 8px  #0f0f0f;
    font-family: 'Redressed', cursive;
}

.populares-productos .popular-data {
    display: flex;
    justify-content: space-between;
    padding: 10px 2em;
}

.popular-data p {
    background-color: var(--color-terciario-celeste);
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #f3f3f3;
    padding: 0 2em;
    border-radius: 15px;
}

.popular-data button {
    border: 3px solid transparent;
    padding: 10px 20px;
    color: var(--color-terciario-celeste);
    cursor: pointer;

}

.popular-data button:hover {
    animation-name: nashe;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

@keyframes nashe {
    0% {
        border-bottom: 3px solid #ef8f6e; 
        text-shadow: 1px 10px 30px #ef8f6e; 
        font-weight: bold;   
    }

    50% {
        border-right: 3px solid var(--color-principal); 
        border-left: 3px solid var(--color-principal);  
        font-weight: bold; 
    }
    50%{
        border-left: 3px solid var(--color-principal);
        border-right: 3px solid var(--color-principal);   
        font-weight: bold;
    }
    100% {
        border-top: 3px solid var(--color-principal); 
        border-bottom: 3px solid transparent; 
        font-weight: bold;
    }
}

.populares-productos h3 {
    padding: .3em 2em;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 1px;
    color: var(--color-principal);
    text-shadow: 1px 1px 1px #0f0f0f;
}

.opciones-populares {
    display: none;
}

.opciones-populares i {
    color: #f3f3f3;
    font-size: 1.2em;
    cursor: pointer;
    transition-duration: .1s;
}

.opciones-populares i:hover {
    transform: scale(1.3);
    text-shadow: 1px 1px 16px #f4f4f4;
}

.populares-productos .popular1 {
    height: 220px;
    width: 100%;
    background-image: url(popular-pro1.jpg);
    background-position: center;
    background-size: cover;
}

.populares-productos .popular1:hover > .opciones-populares , .popular2:hover .opciones-populares , .popular3:hover > .opciones-populares,
.popular4:hover > .opciones-populares , .popular5:hover .opciones-populares , .popular6:hover > .opciones-populares {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 2em ;
    backdrop-filter: brightness(50%);
    animation-name: fondopopular;
    animation-duration: .5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes fondopopular {
    0% {
        width: 0%;
        font-size: 0em;
    }

    100% {
        width: 100%;
    }
}

.populares-productos .popular2 {
    height: 220px;
    width: 100%;
    background-image: url(popular-pro2.jpg);
    background-position: center;
    background-size: cover;
}

.populares-productos .popular3 {
    height: 220px;
    width: 100%;
    background-image: url(popular-pro3.jpg);
    background-position: center;
    background-size: cover;
}

.populares-productos .popular4 {
    height: 220px;
    width: 100%;
    background-image: url(popular-pro4.jpg);
    background-position: center;
    background-size: cover;
}

.populares-productos .popular5 {
    height: 220px;
    width: 100%;
    background-image: url(popular-pro5.jpeg);
    background-position: center;
    background-size: cover;
}

.populares-productos .popular6 {
    height: 220px;
    width: 100%;
    background-image: url(popular-pro6.jpg);
    background-position: center;
    background-size: cover;
}


.barra-busqueda i {
    color: #f7f7f7;
    padding-left: .5em;
}

/*SECCION EJEMPLOS*/

.ejemplos {
    width: 100%;
    height: 100%;
}

.ejemplos_container {
    background-color: #FA8072;
    background-image: url(pastel-fondovideo.jpg);
    background-size: cover;
    padding: 3em 2em;
    box-shadow: 1px 1px 20px 1px #000;
}

.ejemplos h2 {
    color: var(--color-terciario-celeste);
    text-shadow: 1px 1px 2px #000;
    font-size: calc(2em + 1vw);
    padding: 0 1.5em 1em;
}

.ejemplos-carrusel {
    padding: 0 2em 1em;
    display: grid;
    grid-template-columns: 60% 40%;
}

.ejemplos-separador iframe {
    width: 90%;
    padding: 15px;
    background-color: var(--color-terciario-piel);
    border-radius: 40px 10px 50px 0;
    box-shadow: 1px 1px 10px #000;
}

.ejemplos-separador h3 {
    padding: .3em 0em;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 1px;
    color: var(--color-terciario-piel);
    text-shadow: 1px 1px 2px #000;
    font-family: 'Redressed', cursive;
}

.ejemplos-separador2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ejemplos-separador2 p {
    color: var(--color-terciario-crema);
    text-shadow: 1px 1px 2px #000;
    font-size: 1.2em;
    font-weight: bold;
    text-align: justify;
}

.imagenes-ejemplos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    padding-top: 1em;
}

.img-ejemplos1 {
    background-image: url(herramientas-img1.jpg);
    background-size: cover;
    background-position: center;
}
.img-ejemplos2 {
    background-image: url(herramientas-img2.jpg);
    background-size: cover;
    background-position: center;
}
.img-ejemplos3 {
    background-image: url(herramientas-img3.jpg);
    background-size: cover;
    background-position: center;
}
.img-ejemplos4 {
    background-image: url(herramientas-img4.jpg);
    background-size: cover;
    background-position: center;
}

/*SECCION CONTACTO*/

.contacto {
    width: 100%;
    height: 100%;
}

.contacto h2 {
    color: var(--color-terciario-celeste);
    text-shadow: 1px 1px 2px #000;
    font-size: calc(2em + 1vw);
    padding: 1em 1.5em 1em;
}

.contacto_container {
    padding: 1em 2em 3em;
    display: grid;
    grid-template-columns: 50% 50%;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  padding: 0 2em;
}

form h3 {
    color: var(--color-principal);
    text-shadow: 1px 1px 2px #0f0f0f;
    font-weight: bold;
    text-align: center;
    padding: 0 0 1em 0;
}

.input-box {
  position: relative;
}

.input-box > input{
  width: 100%;
  height: 40px;
  padding: 0 10px;
  outline: none;
  background: rgba(0, 0, 0, .2);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: .3s;
  color: #0f0f0f;
  font-weight: bold;
}

.input-box > input:focus,
.input-box > textarea:focus {
  border-bottom: 3px solid var(--color-principal);
  animation: shake .2s ;
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
  color: var(--color-terciario-crema);
  font-weight: bold;
  text-shadow: .5px .5px #000;
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
  color: transparent;
  text-shadow: none;
}

.input-box > textarea {
  width: 100%;
  height: 130px;
  background: rgba(0, 0, 0, .2);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: .3s;
  color: #0f0f0f;
  font-weight: bold;;
  padding: 10px;
  resize: none;
  outline: none;
}

.input-box > i {
  color: rgba(0, 0, 0, .4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.input-box > input:focus ~ i {
  color: var(--color-principal);
}

form > button {
  background: rgba(0, 0, 0, .4);
  color: var(--color-principal);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  padding: 10px;
  transition: .3s;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 3px 3px 21px -5px var(--color-principal);
  border-radius: 10px 0px 10px 0px;
}

form > button:hover{
  background-color: var(--color-principal);
  box-shadow: none;
  color: var(--color-terciario-crema);
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.contacto-ubicacion {
    padding: 0 2em;
}

.contacto-ubicacion h3 {
    color: var(--color-principal);
    text-shadow: 1px 1px 2px #0f0f0f;
    font-weight: bold;
    text-align: center;
    padding: 0 0 2em 0;
}
