@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
}

header {
    height: 100%;
    background-color: #FA8072;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5em 3em;
}

.heading a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3em;
    font-weight: bold;
}

.heading i {
    color: aliceblue;
    font-size: 1.3em;
}

.main-image {
    width: 100%;
    height: 70vh;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pasteles-main.jpg);
    background-position: center;
    background-size: cover;
}

.main-image h1 {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2em + 1vw);
    text-transform: uppercase;
    color: #f2f2f2;
    text-shadow: 2px 2px 4px #000;
    padding: 0 2em;
    text-align: center;
}

.main-image .button-top{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 2em;
}

.button-top button {
    width: 400px;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    );
    height: 80px;
    border: 2px solid #F70000;
    border-radius: 25px 0px 25px 0;
    font-size: 1.5em;
    text-transform: uppercase;
    color: aliceblue;
    transition-property: border;
    transition-duration: .5s;
    cursor: pointer;
}

.button-top button:hover,
.button-top button:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
    border: 2px solid #ef8f6e;
}

@-webkit-keyframes pulse {
    0% {
    box-shadow: 0 0 0 0 var(--hover);
    }
}

    @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 var(--hover);
    }
  }

  .button-top-first {
    --color: #ef6eae;
    --hover: #ef8f6e;
  }

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.nav-bar li {
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3em;
}

.barra-busqueda {
    padding-right: 10em;
}

.barra-busqueda button {
    font-size: 1.3em;
    color: #f7f7f7;
    border: none;
    border-bottom: 2px solid #f2f2f2;
    background-color: inherit;
}

.barra-busqueda i {
    color: #f7f7f7;
    padding-left: .5em;
}

.variedades {
    width: 100%;
    height: 100%;
    padding: 3em 2em;
}

.variedades h2 {
    color: #FA8072;
    text-shadow: 1px 1px 2px #000;
    font-size: 3em;
    padding: 0 1em 1em;
}

.variedades_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1em;
    justify-content: center;
}

.variaciones-productos {
    width: 200px;
    height: 200px;
    border-bottom: 5px solid #F08080;
    border-top: 5px solid #F08080;
    border-radius: 5px 10px 5px 5px;
}

.variaciones-productos h3 {
    color: #f2f2f2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
    padding: 0 1em;
    transition: all .3s;
}

.variaciones-productos:hover > h3 {
    opacity: 0;
    transform: translateY(-10px);
}


.pro1 {
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pastel-1.webp);
    background-position: center;
    background-size: cover;
    transition: all 200ms;
}

@keyframes hero {
    from{
        background-size: 300px;
    }
    to{
        background-size: 350px;
    }
}

.pro1:hover {
    background: linear-gradient(
        0deg,
        rgba(0,0,0, 0),
        rgba(0,0,0, 0)
    ),
    url(pastel-1.webp);
    background-position: center;
    background-repeat: no-repeat;
    animation: hero 1s ;
    background-size: 350px; 
}

.pro2 {
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pastel-2.jpg);
    background-position: center;
    background-size: cover;
    transition: all 200ms;
}

.pro2:hover {
    background: linear-gradient(
        0deg,
        rgba(0,0,0, 0),
        rgba(0,0,0, 0)
    ),
    url(pastel-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    animation: hero 1s ;
    background-size: 350px; 
}

.pro3 {
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pastel-3.jpg);
    background-position: center;
    background-size: cover;
    transition: all 200ms;
}

.pro3:hover {
    background: linear-gradient(
        0deg,
        rgba(0,0,0, 0),
        rgba(0,0,0, 0)
    ),
    url(pastel-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    animation: hero 1s ;
    background-size: 350px; 
}
.pro4 {
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pastel-4.jpg);
    background-position: center;
    background-size: cover;
    transition: all 200ms;
}

.pro4:hover {
    background: linear-gradient(
        0deg,
        rgba(0,0,0, 0),
        rgba(0,0,0, 0)
    ),
    url(pastel-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    animation: hero 1s ;
    background-size: 350px; 
}

.pro5 {
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pastel-5.webp);
    background-position: center;
    background-size: cover;
    transition: all 200ms;
}

.pro5:hover {
    background: linear-gradient(
        0deg,
        rgba(0,0,0, 0),
        rgba(0,0,0, 0)
    ),
    url(pastel-5.webp);
    background-position: center;
    background-repeat: no-repeat;
    animation: hero 1s ;
    background-size: 350px; 
}

.pro6 {
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pastel-6.jpg);
    background-position: center;
    background-size: cover;
    transition: all 200ms;
}

.pro6:hover {
    background: linear-gradient(
        0deg,
        rgba(0,0,0, 0),
        rgba(0,0,0, 0)
    ),
    url(pastel-6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    animation: hero 1s ;
    background-size: 350px; 
}

.pro7 {
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pastel-7.png);
    background-position: center;
    background-size: cover;
    transition: all 200ms;
}

.pro7:hover {
    background: linear-gradient(
        0deg,
        rgba(0,0,0, 0),
        rgba(0,0,0, 0)
    ),
    url(pastel-7.png);
    background-position: center;
    background-repeat: no-repeat;
    animation: hero 1s ;
    background-size: 350px; 
}

.pro8 {
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url(pastel-8.jpg);
    background-position: center;
    background-size: cover;
    transition: all 200ms;
}

.pro8:hover {
    background: linear-gradient(
        0deg,
        rgba(0,0,0, 0),
        rgba(0,0,0, 0)
    ),
    url(pastel-8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    animation: hero 1s ;
    background-size: 350px; 
}

.productos {
    width: 100%;
    height: 100%;
    padding: 3em 2em;
}

.productos h2 {
    color: #FA8072;
    text-shadow: 1px 1px 2px #000;
    font-size: 3em;
    padding: 0 1em 1em;
}

.popular-productos_container {
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 1em;
    row-gap: 3em;
    flex-wrap: wrap;
    justify-content: center;
}

.populares-productos {
    width: 400px;
    height: 300px;
    background-color: #F5F4EC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 8px  #0f0f0f;
}

.populares-productos .popular-data {
    display: flex;
    justify-content: space-between;
    padding: 10px 2em;
}

.popular-data p {
    background-color: #ef8f6e;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #f3f3f3;
    padding: 0 2em;
    border-radius: 15px;
}

.popular-data button {
    border: 3px solid transparent;
    padding: 10px 20px;
    color: #ef8f6e;
    cursor: pointer;

}

.popular-data button:hover {
     animation-name: nashe;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

@keyframes nashe {
    0% {
        border-bottom: 3px solid #ef8f6e; 
        text-shadow: 1px 10px 30px #ef8f6e;    
    }

    50% {
        border-right: 3px solid #ef8f6e; 
        border-left: 3px solid #ef8f6e;   
    }
    50%{
        border-left: 3px solid #ef8f6e;
        border-right: 3px solid #ef8f6e;   
    }
    100% {
        border-top: 3px solid #ef8f6e; 
        border-bottom: 3px solid transparent; 
    }
}

.populares-productos h3 {
    padding: 0 2em;
    font-weight: bold;
    color: #FF8593;
    text-shadow: 1px 1px 1px #0f0f0f;
}

.populares-productos .popular1 {
    height: 220px;
    width: 100%;
    background-image: url(popular-pro1.jpg);
    background-position: center;
    background-size: cover;
}
.populares-productos .popular2 {
    height: 220px;
    width: 100%;
    background-image: url(popular-pro2.jpg);
    background-position: center;
    background-size: cover;
}

.populares-productos .popular3 {
    height: 220px;
    width: 100%;
    background-image: url(popular-pro3.jpg);
    background-position: center;
    background-size: cover;
}

.populares-productos .popular4 {
    height: 220px;
    width: 100%;
    background-image: url(popular-pro4.jpg);
    background-position: center;
    background-size: cover;
}

.populares-productos .popular5 {
    height: 220px;
    width: 100%;
    background-image: url(popular-pro5.jpeg);
    background-position: center;
    background-size: cover;
}

.populares-productos .popular6 {
    height: 220px;
    width: 100%;
    background-image: url(popular-pro6.jpg);
    background-position: center;
    background-size: cover;
}


.barra-busqueda i {
    color: #f7f7f7;
    padding-left: .5em;
}
